/* START Hvilken bagrundsfrave side skal have */ 
    body {
      background-color: rgb(255, 255, 255); /*Hvilken bagrundsfrave side skal have*/
    }
/* SLUT Hvilken bagrundsfrave side skal have */ 



/* START på Det gør siden responstiv - tilpasset til flere størlser skræme */ 
    @media screen and (min-width: 750px) { /*Så den ændre sig af sig selv - 750px er en mobil den mindste skærm*/
      .navigation ul {
        flex-wrap: nowrap; /*så den bevæger sig naturligt rundt når skærmens størlse ændre sig*/
             }
    }
/* SLUT Det gør siden responstiv - tilpasset til flere størlser skræme */ 


                    /* 1 section */
/*START Min top kasse bar*/
    #white-top { /*Min kasse i toppen*/
      padding: 20px; /*Højden på min kasse */
      background-color: rgb(255, 255, 255);  /* Farven på hele top baren */
      color: red; /* Farven på LEA HANSEN */ 
    }
/*SLUT Min top kasse bar*/



/*START Min top kasse bar*/
    #white-top-text { 
    margin-right: 50px;
    }
/*SLUT Min top kasse bar*/
                    /* 1 section */



                    /* 2 section */
/* START Navigationslinje */ 
    #navigation {
      display: flex; 
      flex-direction: row; 
      gap: 50px; /*Mlemmerum mellem mine ord i menulinjen*/
      background-color: red; /*Kassen om manulinjens farve*/
      padding: 15px; /*højden på min kasse*/
      justify-content: center; /*At mine ord i menulinjen er i midten*/  
    }

    .nav-link { /*så mine ord i menulinjen er links*/
     text-decoration: none; 
     color: black; /*Mine ord i min menulinjes farve*/
    }

    .nav-link:hover {
      color: rgb(255, 255, 255); /*Så ordene i menulinjen skifter frave når musen er oven dem*/
    }
/* SLUT Navigationslinje */



/*???*/
* { 
  box-sizing: border-box; 
  margin:0; padding:0; 
}
/*???*/



/*STRAT Bagrundfarven på hele siden body som vises på hjemmesiden*/
body { 
  background: rgb(254, 254, 254); 
  font-family: sans-serif; 
  padding:0; 
}
/*SLUT Bagrundfarven på hele siden body som vises på hjemmesiden*/
                    /* 2 section */



                    /* 3 section */
/* START CAROUSEL CONTAINER */
.carousel { 
  width: 100%;
  height: 100px;
  max-width: none; 
  margin:0 auto; 
}

.carousel__viewport {
  position: relative;
  width: 100%; /*at den fylder hele skærmen vandret*/
  height: 400px;         /* item højde - small screen - gør responsiv?*/
  overflow: hidden;
  padding: 4% 6%;
}
/* SLUT CAROUSEL CONTAINER */


/* ITEMS */
.carousel__viewport li {
  position: absolute;
  top: 0;
  width: 100%;            /* ét item på mobil */
  height: auto;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: #111;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0,0,0,.08);
  transition: opacity .2s;
  z-index: 0;
}
/* ITEMS */



/* START ITEMS ONEonONE */
#item1 { 
  animation: item1Anim 8s infinite linear; /*Hvor hurtigt billederne skifter - hvor lang tid animationne vare*/
  background: rgb(255, 255, 255); /*Farven på bagurnden - men der vises billeder overen på nu*/
}
#item2 { 
  animation: item2Anim 8s infinite linear; /*Hvor hurtigt billederne skifter - hvor lang tid animationne vare*/
  background: rgb(255, 255, 255); /*Farven på bagurnden - men der vises billeder overen på nu*/
}
#item3 { 
  animation: item3Anim 8s infinite linear; /*Hvor hurtigt billederne skifter - hvor lang tid animationne vare*/
  background: #ffffff; /*Farven på bagurnden - men der vises billeder overen på nu*/
}
#item4 { 
  animation: item4Anim 8s infinite linear; /*Hvor hurtigt billederne skifter - hvor lang tid animationne vare*/
  background: #ffffff; /*Farven på bagurnden - men der vises billeder overen på nu*/
}
#item5 { 
  animation: item5Anim 8s infinite linear; /*Hvor hurtigt billederne skifter - hvor lang tid animationne vare*/
  background: #ffffff; /*Farven på bagurnden - men der vises billeder overen på nu*/
}
#item6 { 
  animation: item6Anim 8s infinite linear; /*Hvor hurtigt billederne skifter - hvor lang tid animationne vare*/
  background: #ffffff; /*Farven på bagurnden - men der vises billeder overen på nu*/
}

.item {
  display: flex;
  flex-direction: column;
}

.item__image {
  width: 1900px;
  height: auto;
}
/* SLUT ITEMS ONEonONE */



/* VARIABLER - overlapper hinanden, så det kun er 1 item som vises */
:root {
  --left-pos: 5%;   
  --right-pos: 5%;
}
/* VARIABLER - overlapper hinanden, så det kun er 1 item som vises */



/* STRAT KEYFRAMES */
@keyframes item1Anim {
  0%, 16%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  18%, 81%  { opacity:0; pointer-events:none;    z-index:0; }
  82%,100%  { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
}

@keyframes item2Anim {
  0%,16%    { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
  17%,31%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  33%,100%  { opacity:0; pointer-events:none;    z-index:0; }
}

@keyframes item3Anim {
  0%,16%    { opacity:0; pointer-events:none;    z-index:0; }
  17%,31%   { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
}
/* SLUT KEYFRAMES */
                /* 3 section */



                /* 4 section */
  #section_4 {
    background-color: rgb(255, 0, 0);
    height: 300px;
    width: auto;
    }
                /* 4 section */



                /* 5 section*/
#section_5 {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: auto;
    }
                /* 5 section*/



                 /* 6 section*/
#section_6 {
    background-color: rgb(187, 187, 187);
    height: 400px;
    width: auto;
    }
                /* 6 section*/

