                                    /*GÆLDER PÅ ALLE 5 SIDER*/

/* START Hvilken bagrundsfrave side skal have */ 
    body {
      background-color: rgb(255, 255, 255); /*Hvilken bagrundsfrave side skal have*/
    }
/* SLUT Hvilken bagrundsfrave side skal have */ 



/* START på Det gør siden responstiv - tilpasset til flere størlser skræme */ 
    @media screen and (min-width: 750px) { /*Så den ændre sig af sig selv - 750px er en mobil den mindste skærm*/
      .navigation ul {
        flex-wrap: nowrap; /*så den bevæger sig naturligt rundt når skærmens størlse ændre sig*/
             }
    }
/* SLUT Det gør siden responstiv - tilpasset til flere størlser skræme */ 

/*START Min top kasse bar*/
    #white-top { /*Min kasse i toppen*/
      padding: 20px; /*Højden på min kasse */
      background-color: rgb(255, 255, 255);  /* Farven på hele top baren */
    }
/*SLUT Min top kasse bar*/

/*START Min top kasse bar*/
    #white-top-text { 
    margin-right: 50px;
    }
/*SLUT Min top kasse bar*/

/* START Navigationslinje */ 
    #navigation {
      display: flex; 
      flex-direction: row; 
      gap: 50px; /*Mlemmerum mellem mine ord i menulinjen*/
      background-color: red; /*Kassen om manulinjens farve*/
      padding: 15px; /*højden på min kasse*/
      justify-content: center; /*At mine ord i menulinjen er i midten*/  
    }

    .nav-link { /*så mine ord i menulinjen er links*/
     text-decoration: none; 
     color: black; /*Mine ord i min menulinjes farve*/
    }

    .nav-link:hover {
      color: rgb(255, 255, 255); /*Så ordene i menulinjen skifter frave når musen er oven dem*/
    }
/* SLUT Navigationslinje */
              
          
/*START Fooster*/
    #Footer { 
    display: flex;
    flex-direction: row; 
    gap: 150px; /*Mlemmerum mellem mine ord i menulinjen*/
    margin-right: 100px; /*Bredten på min side, vandret*/
    padding: 30px; /*højden på min kasse*/
    justify-content: center; /*At mine ord i menulinjen er i midten*/  
    background-color: red; /*Kassen om manulinjens farve*/
    }
/*SLUT Fooster*/

/*???*/
* { 
  box-sizing: border-box; 
  margin:0; padding:0; 
}
/*???*/



/*STRAT Bagrundfarven på hele siden body som vises på hjemmesiden*/
body { 
  background: rgb(254, 254, 254); 
  font-family: sans-serif; 
  padding:0; 
}
/*SLUT Bagrundfarven på hele siden body som vises på hjemmesiden*/

                                  /*GÆLDER PÅ ALLE 5 SIDER*/











                                   /*HER STARTER INDEKSIDEN LEA!!!!*/
 /* START CAROUSEL CONTAINER */
.carousel { 
  width: 100%;
  height: 100px;
  max-width: none; 
  margin:0 auto; 
}

.carousel__viewport {
  position: relative;
  width: 100%; /*at den fylder hele skærmen vandret*/
  height: 400px;         /* item højde - small screen - gør responsiv?*/
  overflow: hidden;
  padding: 4% 6%;
}


/* ITEMS */
.carousel__viewport li {
  position: absolute;
  top: 0;
  width: 100%;            /* ét item på mobil */
  height: auto;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: #111;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0,0,0,.08);
  transition: opacity .2s;
  z-index: 0;
}
/* ITEMS */



/* START ITEMS ONEonONE */
#item1 { 
  animation: item1Anim 8s infinite linear; /*Hvor hurtigt billederne skifter - hvor lang tid animationne vare*/
  background: rgb(255, 255, 255); /*Farven på bagurnden - men der vises billeder overen på nu*/
}
#item2 { 
  animation: item2Anim 8s infinite linear; /*Hvor hurtigt billederne skifter - hvor lang tid animationne vare*/
  background: rgb(255, 255, 255); /*Farven på bagurnden - men der vises billeder overen på nu*/
}
#item3 { 
  animation: item3Anim 8s infinite linear; /*Hvor hurtigt billederne skifter - hvor lang tid animationne vare*/
  background: #ffffff; /*Farven på bagurnden - men der vises billeder overen på nu*/
}
#item4 { 
  animation: item4Anim 8s infinite linear; /*Hvor hurtigt billederne skifter - hvor lang tid animationne vare*/
  background: #ffffff; /*Farven på bagurnden - men der vises billeder overen på nu*/
}
#item5 { 
  animation: item5Anim 8s infinite linear; /*Hvor hurtigt billederne skifter - hvor lang tid animationne vare*/
  background: #ffffff; /*Farven på bagurnden - men der vises billeder overen på nu*/
}
#item6 { 
  animation: item6Anim 8s infinite linear; /*Hvor hurtigt billederne skifter - hvor lang tid animationne vare*/
  background: #ffffff; /*Farven på bagurnden - men der vises billeder overen på nu*/
}

.item {
  display: flex;
  flex-direction: column;
}

.item__image {
  width: 1580px;
  height: auto;
}
/* SLUT ITEMS ONEonONE */



/* VARIABLER - overlapper hinanden, så det kun er 1 item som vises */
:root {
  --left-pos: 5%;   
  --right-pos: 5%;
}
/* VARIABLER - overlapper hinanden, så det kun er 1 item som vises */



/* STRAT KEYFRAMES */
@keyframes item1Anim {
  0%, 16%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  18%, 81%  { opacity:0; pointer-events:none;    z-index:0; }
  82%,100%  { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
}

@keyframes item2Anim {
  0%,16%    { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
  17%,31%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  33%,100%  { opacity:0; pointer-events:none;    z-index:0; }
}

@keyframes item3Anim {
  0%,16%    { opacity:0; pointer-events:none;    z-index:0; }
  17%,31%   { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
}
/* SLUT KEYFRAMES */
                
/* SLUT CAROUSEL CONTAINER */


/*HER STARTER MIN GRID CONTENER*/
.contentindex {
  display: grid;
  grid-template-areas: 
  "tekst1 billede1"
  "billede2 tekst2"
  "tekst3 billede3"
  "billede4 tekst4";
  margin: 0 100px;
  grid-template-columns: auto auto;
  grid-template-rows: 300px 300px 300px 300px;
}

.contentindex--tekst1 { 
  grid-area: tekst1;
  align-content: center;
  color: red; 
 }
  

.contentindex--billede1 img {
  grid-area: billede1;
  align-content: center;
  width: 400px;
  height: auto;
 }
.contentindex--tekst2 {
  grid-area: tekst2;
  color: rgb(255, 0, 0);
  align-content: center;
 }
.contentindex--billede2 img { 
 grid-area: billede2;
 align-content: center;
 width: 400px;
 height: auto;
}
.contentindex--tekst3 {
  grid-area: tekst3;
  color: rgb(255, 0, 0);
  align-content: center;
 }
.contentindex--billede3 img {
  grid-area: billede3;
  align-content: center;
  width: 400px;
  height: auto;
 }
.contentindex--tekst4 { 
  grid-area: tekst4;
  color: rgb(255, 0, 0);
  align-content: center;
}
.contentindex--billede4 img {
  grid-area: billede4;
  align-content: center;
  width: 400px;
  height: auto;
 }
/*HER SLUTTER MIN GRID CONTENER*/
                                 /*HER SLUTTER INDEKSIDEN LEA!!!!*/
                  










                                  /*HER STARTER OM MIG SIDEN LEA!!!!*/
/*HER STARTER MIN GRID CONTENER*/
.contentindex {
  display: grid;
  grid-template-areas: 
  "tekst1 billede1"
  "billede2 tekst2"
  "tekst3 billede3";
  margin: 0 100px;
  grid-template-columns: auto auto;
  grid-template-rows: 300px 300px 300px 300px;
}

.contentindex--tekst1 { 
  grid-area: tekst1;
  align-content: center;
  color: red; 
 }
  

.contentindex--billede1 img {
  grid-area: billede1;
  align-content: center;
  width: 400px;
  height: auto;
 }
.contentindex--tekst2 {
  grid-area: tekst2;
  color: rgb(255, 0, 0);
  align-content: center;
 }
.contentindex--billede2 img { 
 grid-area: billede2;
 align-content: center;
 width: 400px;
 height: auto;
}
.contentindex--tekst3 {
  grid-area: tekst3;
  color: rgb(255, 0, 0);
  align-content: center;
 }
.contentindex--billede3 img {
  grid-area: billede3;
  align-content: center;
  width: 400px;
  height: auto;
 }
                                  
                                   /*HER SLUTTER OM MIG SIDEN LEA!!!!*/ 










                                    /*HER STARTER PRODUKT SIDEN LEA!!!!*/
/*HER STARTER MIN GRID CONTENER*/
.contentindex {
  display: grid;
  grid-template-areas: 
  "tekst1 billede1"
  "billede2 tekst2"
  "tekst3 billede3"
  "billede4 tekst4"
  "teskt5 billede5"
  "billede6 tekst6";
  margin: 0 100px;
  grid-template-columns: auto auto;
  grid-template-rows: 300px 300px 300px 300px;
}

.contentindex--tekst1 { 
  grid-area: tekst1;
  align-content: center;
  color: red; 
 }

.contentindex--billede1 img {
  grid-area: billede1;
  align-content: center;
  width: 400px;
  height: auto;
 }
.contentindex--tekst2 {
  grid-area: tekst2;
  color: rgb(255, 0, 0);
  align-content: center;
 }
.contentindex--billede2 img { 
 grid-area: billede2;
 align-content: center;
 width: 400px;
 height: auto;
}
.contentindex--tekst3 {
  grid-area: tekst3;
  color: rgb(255, 0, 0);
  align-content: center;
 }
.contentindex--billede3 img {
  grid-area: billede3;
  align-content: center;
  width: 400px;
  height: auto;
 }
.contentindex--tekst4 {
  grid-area: tekst3;
  color: rgb(255, 0, 0);
  align-content: center;
 }
.contentindex--billede4 img {
  grid-area: billede3;
  align-content: center;
  width: 400px;
  height: auto;
 }
 .contentindex--tekst5 {
  grid-area: tekst3;
  color: rgb(255, 0, 0);
  align-content: center;
 }
.contentindex--billede5 img {
  grid-area: billede3;
  align-content: center;
  width: 400px;
  height: auto;
 }
 .contentindex--tekst6 {
  grid-area: tekst3;
  color: rgb(255, 0, 0);
  align-content: center;
 }
.contentindex--billede6 img {
  grid-area: billede3;
  align-content: center;
  width: 400px;
  height: auto;
 }
                                  
                                   /*HER SLUTTER PRODUKT SIDEN LEA!!!!*/ 









                                    /*HER STARTER VÆRKTØJSKASSE SIDEN LEA!!!!*/
/*HER STARTER MIN GRID CONTENER*/
.contentindex {
  display: grid;
  grid-template-areas: 
  "tekst1 billede1"
  "billede2 tekst2";
  margin: 0 100px;
  grid-template-columns: auto auto;
  grid-template-rows: 300px 300px 300px 300px;
}

.contentindex--tekst1 { 
  grid-area: tekst1;
  align-content: center;
  color: red; 
 }

.contentindex--billede1 img {
  grid-area: billede1;
  align-content: center;
  width: 400px;
  height: auto;
 }
.contentindex--tekst2 {
  grid-area: tekst2;
  color: rgb(255, 0, 0);
  align-content: center;
 }
.contentindex--billede2 img { 
 grid-area: billede2;
 align-content: center;
 width: 400px;
 height: auto;
}
                                  
                                   /*HER SLUTTER VÆRKTØJKASSEN SIDEN LEA!!!!*/ 











                                    /*HER STARTER KONTAKT SIDEN LEA!!!!*/
/*HER STARTER MIN GRID CONTENER*/
.contentindex {
  display: grid;
  grid-template-areas: 
  "tekst1 billede1"
  "billede2 tekst2"
  "tekst3 billede3"
  "billede4 tekst4"
  "teskt5 billede5"
  "billede6 tekst6";
  margin: 0 100px;
  grid-template-columns: auto auto;
  grid-template-rows: 300px 300px 300px 300px;
}

.contentindex--tekst1 {
  grid-area: tekst1;
  color: rgb(255, 0, 0);
  align-content: center;
 }

.contentindex--billede1 {
  grid-area: billede1;
  align-content: center;
  width: 400px;
  height: auto;
 }
.contentindex--tekst2 {
  grid-area: tekst2;
  color: rgb(255, 0, 0);
  align-content: center;
 }
.contentindex--billede2 { 
 grid-area: billede2;
 align-content: center;
 width: 400px;
 height: auto;
}
.contentindex--tekst3 {
  grid-area: tekst3;
  color: rgb(255, 0, 0);
  align-content: center;
 }
.contentindex--billede3 {
  grid-area: billede3;
  align-content: center;
  width: 400px;
  height: auto;
 }
.contentindex--tekst4 {
  grid-area: tekst3;
  color: rgb(255, 0, 0);
  align-content: center;
 }
.contentindex--billede4 {
  grid-area: billede3;
  align-content: center;
  width: 400px;
  height: auto;
 }
 .contentindex--tekst5 {
  grid-area: tekst3;
  color: rgb(255, 0, 0);
  align-content: center;
 }
.contentindex--billede5 {
  grid-area: billede3;
  align-content: center;
  width: 400px;
  height: auto;
 }
                                  
                                   /*HER SLUTTER KONTAKT SIDEN LEA!!!!*/ 