/* START Hvilken bagrundsfrave side skal have */ 

    body {
      background-color: rgb(255, 255, 255); /*Hvilken bagrundsfrave side skal have*/
    }

/* SLUT Hvilken bagrundsfrave side skal have */ 






/* START på Det gør siden responstiv - tilpasset til flere størlser skræme */ 

    @media screen and (min-width: 750px) { /*Så den ændre sig af sig selv - 750px er en mobil den mindste skærm*/
      .navigation ul {
        flex-wrap: nowrap; /*så den bevæger sig naturligt rundt når skærmens størlse ændre sig*/
             }
    }

/* SLUT Det gør siden responstiv - tilpasset til flere størlser skræme */ 






/*Min top kasse bar*/
    #white-top { /*Min kasse i toppen*/
      padding: 20px; /*Højden på min kasse */
      background-color: rgb(238, 238, 238);  /* Farven på hele top baren */
      color: red; /* Farven på LEA HANSEN */ 
    }
/*Min top kasse bar*/





/* START Navigationslinje */ 
    #navigation {
      display: flex; 
      flex-direction: row; 
      gap: 20px; /*hvor lang ned den er på skærmen i højden*/
      background-color: red; /*Kassen om manulinjens farve*/
      padding: 20px; /*højden på min kasse*/
      justify-content: center; /*At mine ord i menulinjen er i midten*/
      
    
    }

    .nav-link { /*så mine ord i menulinjen er links*/
     text-decoration: none; 
     color: black; /*Mine ord i min menulinjes farve*/
    }

    .nav-link:hover {
      color: rgb(88, 88, 88); /*Så ordene i menulinjen skifter frave når musen er oven dem*/
    }
/* SLUT Navigationslinje */





* { 
  box-sizing: border-box; 
  margin:0; padding:0; }

body { 
  background: rgb(254, 254, 254); 
  font-family: sans-serif; 
  padding:0; 
}

/* CAROUSEL CONTAINER */
.carousel { 
  width: 100%;
  max-width: none; 
  margin:0 auto; 
}

.carousel--viewport {
  position: relative;
  width: 100%;
  height: 350px;         /* item højde - small screen - gør responsiv?*/
  overflow: hidden;
  padding: 4% 6%;
}

/* ITEMS */
.carousel--viewport li {
  position: absolute;
  top: 0;
  width: 400px;            /* ét item på mobil */
  height: 100%;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: #111;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0,0,0,.08);
  transition: opacity .2s;
  z-index: 0;
}

/* ITEMS ONEonONE */
#item1 { 
  animation: item1Anim 20s infinite linear;
  background: rgb(255, 255, 255); 
}
#item2 { 
  animation: item2Anim 20s infinite linear;
  background: rgb(255, 255, 255); 
}
#item3 { 
  animation: item3Anim 20s infinite linear;
  background: #ffffff; 
}
#item4 { 
  animation: item4Anim 20s infinite linear;
  background: #ffffff; 
}
#item5 { 
  animation: item5Anim 20s infinite linear;
  background: #ffffff; 
}
#item6 { 
  animation: item6Anim 20s infinite linear;
  background: #ffffff; 
}

.item {
  display: flex;
  flex-direction: column;
}

.item--image {
  width: 300px;
  height: auto;
}

/* VARIABLER - overlapper hinanden, så det kun er 1 item som vises */
:root {
  --left-pos: 5%;   
  --right-pos: 5%;
}

/* KEYFRAMES */

@keyframes item1Anim {
  0%, 16%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  18%, 81%  { opacity:0; pointer-events:none;    z-index:0; }
  82%,100%  { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
}

@keyframes item2Anim {
  0%,16%    { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
  17%,31%   { opacity:1; left: var(--left-pos);  pointer-events:auto; z-index:2; }
  33%,100%  { opacity:0; pointer-events:none;    z-index:0; }
}

@keyframes item3Anim {
  0%,16%    { opacity:0; pointer-events:none;    z-index:0; }
  17%,31%   { opacity:1; left: var(--right-pos); pointer-events:auto; z-index:1; }
... (42 linjer linjer tilbage)

}
