/*******************************************START GÆLDER PÅ ALLE 5 SIDER*********************************************************/

/* START Hvilken bagrundsfrave side skal have */ 
    body {
      background-color: rgb(255, 255, 255); /*Hvilken bagrundsfrave side skal have*/
    }
/* SLUT Hvilken bagrundsfrave side skal have */ 


/* START på Det gør siden responstiv - tilpasset til flere størlser skræme */ 
    @media screen and (min-width: 750px) { /*Så den ændre sig af sig selv - 750px er en mobil den mindste skærm*/
      .navigation ul {
        flex-wrap: nowrap; /*så den bevæger sig naturligt rundt når skærmens størlse ændre sig*/
             }
    }
/* SLUT Det gør siden responstiv - tilpasset til flere størlser skræme */ 

/*START Min top kasse bar*/
    #white-top { /*Min kasse i toppen*/
      padding: 20px; /*Højden på min kasse */
      background-color: rgb(255, 255, 255);  /* Farven på hele top baren */
    }
/*SLUT Min top kasse bar*/

/*START Min top kasse bar*/
    #white-top-text { 
    margin-right: 50px;
    }
/*SLUT Min top kasse bar*/

/* START Navigationslinje menu*/ 
    #navigation {
      display: flex; 
      flex-direction: row; 
      gap: 50px; /*Mlemmerum mellem mine ord i menulinjen*/
      background-color: red; /*Kassen om manulinjens farve*/
      padding: 15px; /*højden på min kasse*/
      justify-content: center; /*At mine ord i menulinjen er i midten*/  
    }

    .nav-link { /*så mine ord i menulinjen er links*/
     text-decoration: none; 
     color: black; /*Mine ord i min menulinjes farve*/
    }

    .nav-link:hover {
      color: rgb(255, 255, 255); /*Så ordene i menulinjen skifter frave når musen er oven dem*/
    }
/* SLUT Navigationslinje menu*/
              
          
/*START Footer*/
  #Footer { 
    display: flex;
    flex-direction: row; 
    gap: 200px; /*Mlemmerum mellem mine ord i menulinjen*/
    padding: 15px; /*højden på min kasse*/
    justify-content: center; /*At mine ord i menulinjen er i midten*/  
    background-color: red; /*Kassen om manulinjens farve*/
    }
/*SLUT Footer*/

/*START*/
* { 
  box-sizing: border-box; 
  margin:0; padding:0; 
}
/*SLUT*/



/*STRAT Bagrundfarven på hele siden body som vises på hjemmesiden*/
body { 
  background: rgb(254, 254, 254); 
  font-family: sans-serif; 
  padding:0; 
}
/*SLUT Bagrundfarven på hele siden body som vises på hjemmesiden*/

/**********************************************SLUT GÆLDER PÅ ALLE 5 SIDER*********************************************************/

                          

/********************************************HER STARTER INDEKSIDEN LEA!!!!**********************************************************/

/*START flexbox*/                                

.bilede-1{
    background-color: brown;
    width: 100%;
    height: auto;
}

.bilede-1 img{ /*  Den her bruger man kun til at rette dirrkti på evt. billede man kan også style mere end her*/
    background-color: brown;
    width: 100%;
    height: auto;
    border-radius: 8px;         /*Den her laver runde hjørner på billede*/
} 

.tekstbox-1{
    background-color: aqua;
    width: 100%;
    height: 500px;
    color: white;
    text-align: left;    /* teksten starter fra venstre*/
    align-content: center;  /* center verticalt (top til bund)*/
}



.bilede-2{
    background-color: brown;
    width: 100%;
    height: 500px;
}

.bilede-2 img{ /*  Den her bruger man kun til at rette dirrkti på evt. billede man kan også style mere end her*/
    background-color: brown;
    width: 100%;
    height: auto;
    border-radius: 8px;         /*Den her laver runde hjørner på billede*/
}

.tekstbox-2{
   background-color: aqua;
    width: 100%;
    height: 500px;
    color: white;
    text-align: left;    /* teksten starter fra venstre*/
    align-content: center;  /* center verticalt (top til bund)*/
}



.bilede-3{
    background-color: brown;
    width: 100%;
    height: 500px;
}

.bilede-3 img{ /*  Den her bruger man kun til at rette dirrkti på evt. billede man kan også style mere end her*/
    background-color: brown;
    width: 100%;
    height: auto;
    border-radius: 8px;         /*Den her laver runde hjørner på billede*/
}
.tekstbox-3{
    background-color: aqua;
    width: 100%;
    height: 500px;
    color: white;
    text-align: left;    /* teksten starter fra venstre*/
    align-content: center;  /* center verticalt (top til bund)*/
}



.bilede-4{
    background-color: brown;
    width: 100%;
    height: 500px;
}

.bilede-4 img{ /*  Den her bruger man kun til at rette dirrkti på evt. billede man kan også style mere end her*/
    background-color: brown;
    width: 100%;
    height: auto;
    border-radius: 8px;         /*Den her laver runde hjørner på billede*/
}

.tekstbox-4{
    background-color: aqua;
    width: 100%;
    height: 500px;
    color: white;
    text-align: left;    /* teksten starter fra venstre*/
    align-content: center;  /* center verticalt (top til bund)*/
}

/* Her starter Hvordan flex skal opføere sig */

.container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px){ /*Dette gør at hvis skærmen bliver større end 600px så ændre opsætningen sig på hjemmeside*/


.bilede-1{
    background-color: brown;
    width: 50%;
    height: 250px;
}

.tekstbox-1{
    background-color: aqua;
     width: 50%;
    height: 250px;
}

.bilede-2{
    background-color: brown;
    width: 50%;
    height: 250px;
}

.tekstbox-2{
    background-color: aqua;
    width: 50%;
    height: 250px;
}

.bilede-3{
    background-color: brown;
    width: 50%;
    height: 250px;
}

.tekstbox-3{
    background-color: aqua;
    width: 50%;
    height: 250px;
}

.bilede-4{
    background-color: brown;
    width: 50%;
    height: 250px;
}

.tekstbox-4{
    background-color: aqua;
    width: 50%;
    height: 250px;
}

.række-1{
    display: flex;
    flex-direction: row-reverse;
}

.række-2{
    display: flex;
    flex-direction: row;
}

.række-3{
    display: flex;
    flex-direction: row-reverse;
}

.række-4{
    display: flex;
    flex-direction: row;
}
}
/*START flexbox*/            

/********************************************HER SLUTTER INDEKSIDEN LEA!!!!**********************************************************/
   



/********************************************HER STARTER OM MIG LEA!!!!**********************************************************/

/*START flexbox*/                                

.mød-mig-bilede-1{
    background-color: brown;
    width: 100%;
    height: auto;
}

.mød-mig-bilede-1 img{ /*  Den her bruger man kun til at rette dirrkti på evt. billede man kan også style mere end her*/
    background-color: brown;
    width: 100%;
    height: auto;
    border-radius: 8px;         /*Den her laver runde hjørner på billede*/
} 

.mød-mig-tekstbox-1{
    background-color: aqua;
    width: 100%;
    height: 500px;
    color: white;
    text-align: left;    /* teksten starter fra venstre*/
    align-content: center;  /* center verticalt (top til bund)*/
}



.min-fortid-bilede-2{
    background-color: brown;
    width: 100%;
    height: 500px;
}

.min-fortid-bilede-2 img{ /*  Den her bruger man kun til at rette dirrkti på evt. billede man kan også style mere end her*/
    background-color: brown;
    width: 100%;
    height: auto;
    border-radius: 8px;         /*Den her laver runde hjørner på billede*/
}

.min-fortid-tekstbox-2{
   background-color: aqua;
    width: 100%;
    height: 500px;
    color: white;
    text-align: left;    /* teksten starter fra venstre*/
    align-content: center;  /* center verticalt (top til bund)*/
}



.nuværende-stilling-bilede-3{
    background-color: brown;
    width: 100%;
    height: 500px;
}

.nuværende-stilling-bilede-3 img{ /*  Den her bruger man kun til at rette dirrkti på evt. billede man kan også style mere end her*/
    background-color: brown;
    width: 100%;
    height: auto;
    border-radius: 8px;         /*Den her laver runde hjørner på billede*/
}
.nuværende-stilling-tekstbox-3{
    background-color: aqua;
    width: 100%;
    height: 500px;
    color: white;
    text-align: left;    /* teksten starter fra venstre*/
    align-content: center;  /* center verticalt (top til bund)*/
}



/* Her starter Hvordan flex skal opføere sig */

.container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px){ /*Dette gør at hvis skærmen bliver større end 600px så ændre opsætningen sig på hjemmeside*/


.mød-mig-bilede-1{
    background-color: brown;
    width: 50%;
    height: 250px;
}

.mød-mig-tekstbox-1{
    background-color: aqua;
     width: 50%;
    height: 250px;
}

.min-fortid-bilede-2{
    background-color: brown;
    width: 50%;
    height: 250px;
}

.min-fortid-tekstbox-2{
    background-color: aqua;
    width: 50%;
    height: 250px;
}

.nuværende-stilling-bilede-3{
    background-color: brown;
    width: 50%;
    height: 250px;
}

.nuværende-stilling-tekstbox-3{
    background-color: aqua;
    width: 50%;
    height: 250px;
}


.mød-mig-række-1{
    display: flex;
    flex-direction: row-reverse;
}

.min-fortid-række-2{
    display: flex;
    flex-direction: row;
}

.nuværende-stilling-række-3{
    display: flex;
    flex-direction: row-reverse;
}
}
/*START flexbox*/      


/********************************************HER STARTER OM MIG LEA!!!!**********************************************************/