
/*******************************************START GÆLDER PÅ ALLE 5 SIDER*********************************************************/

/* START Hvilken bagrundsfrave side skal have */ 
    body {
      background-color: rgb(255, 255, 255); /*Hvilken bagrundsfrave side skal have*/
    }
/* SLUT Hvilken bagrundsfrave side skal have */ 


/* START på Det gør siden responstiv - tilpasset til flere størlser skræme */ 
    @media screen and (min-width: 768px) { /*Så den ændre sig af sig selv - 750px er en mobil den mindste skærm*/
      .navigation ul { /* Så jeg vælger en spicifik en */
        flex-wrap: nowrap; /*så den bevæger sig naturligt rundt når skærmens størlse ændre sig*/
             }
    }
/* SLUT Det gør siden responstiv - tilpasset til flere størlser skræme */ 



/* START Navigationslinje menu*/ 

/*Mit logo, link, home i menulinjen*/
 #white-top { 
    margin-left: 0; /* At den fylder helt ud til venstre der ikke nogte luft/space */
    color: #c31414; /* Farven på min top bar*/
    }
/*Mit logo, link, home i menu linjen*/

#white-top a {
    color: #ffffff; /* At alle link på siden skal være hvide - a gør at de er alle links */
    }

    #navigation {
      display: flex; /* At det er mere bevægelig */
      flex-direction: row; /*Flexbox, der arrangerer de fleksible elementer vandret (fra venstre mod højre */
      gap: 50px; /*Mlemmerum mellem mine ord i menulinjen*/
      background-color:#c31414; /*Kassen om manulinjens farve*/
      padding: 30px; /*højden på min kasse*/
      justify-content: center; /*At mine ord i menulinjen er i midten*/  
    }

    .nav-link { /*så mine ord i menulinjen er links*/
     text-decoration: none; /* Fjerner standardteksteffekter, mest almindeligt bruges den til at fjerne den blå understregning fra hyperlinks */ 
     color: black; /*Mine ord i min menulinjes farve*/
    }

    .nav-link:hover {
      color: rgb(255, 255, 255); /*Så ordene i menulinjen skifter frave når musen er oven dem*/
    }
/* SLUT Navigationslinje menu*/


/*Overskiften*/

.flex-overskrift {
  text-align: center; /* Gør at overskiften står i midten */
  margin: 100px 0 40px; /* Hvor på siden overskiften skal være */
}

.flex-overskrift h1 {
  position: relative; /* Flyt elementet i forhold til dets standardplacering */
  display: inline-block; /* At overskiften flytter sig mere flydende rundt */
  padding-bottom: 15px; /* Hvor meget luft der er mellem overskiften og flex boksen i midten */
}

.flex-overskrift h1::after {
  content: ""; /* Hvor understegen på overskiften skal være */
  display: block; /* At overskiften flytter sig vider ned på ny linje hvis der ikke er plads */
  width: 150px; /* længde på understregen */
  height: 3px; /* tykkelse på understregen */
  background-color: #000; /* farve */
  margin: 10px auto 0; /* Hvor meget luft der er fra venstre og til overskiften - auto gør den aftomatisk gør det fra højer */
}

/*Overskiften*/


/*START at browsere kan beregne elemternes størlse */
* { 
  box-sizing: border-box; /* Er en CSS-kode, der sætter standardindstillinger for, hvordan browsere beregner elementers størrelse */
  margin:0; padding:0; 
}
/*SLUT ar browersre kan begrne elemternes strølse */



/*STRAT Bagrundfarven på hele siden body som vises på hjemmesiden*/
body { 
  background: rgb(254, 254, 254); /* Bagrundsfarven på hele body */
  font-family: sans-serif; /* Så der ikke små fødder på mine buksatver som bruges i min body */
  padding:0; /* At bagundsfarven fylder det hele, der skal ikke være luft/space omkring */
}
/*SLUT Bagrundfarven på hele siden body som vises på hjemmesiden*/


/*START FLEXBOX MIDTEN*/    

.billede-1{
    width: 100%; /* At billdet fylder helt ud til kanterne 100% fra margin til margin i boksen */
    height: auto; /* At højden er aoutomatik og flytter sig af sig selv */
    display: flex;   /* gør div'en til flex-container */
    justify-content: center; /* centrerer horisontalt */
    align-items: center; /* Billede er i midten centrum */    
}


.billede-1 img{ /*  Den her bruger man kun til at rette dirrkti på evt. billede man kan også style mere end her*/
    width: 430px; /* Bredten på billedet */
    height: 430px; /* Højden på illedet */
} 

.tekstbox-1 {
    width: 100%; /* Bredten på tekst boksen */
    height: 500px; /* Højden på tekst boksen */
    color: rgb(0, 0, 0); /* Farven på teksten i teks boksen */
    text-align: left;    /* teksten starter fra venstre*/
    align-content: center;  /* center verticalt (top til bund)*/
    margin-left: 80px; /* At der er noget space fra margin af hele flex boksen og ind til at teksten starter */
}

.billede-2{
    width: 100%; /* At billdet fylder helt ud til kanterne 100% fra margin til margin i boksen */
    height: auto; /* At højden er aoutomatik og flytter sig af sig selv */
    display: flex; /* gør div'en til flex-container */
    justify-content: center; /* centrerer horisontalt */
    align-items: center; /* Billede er i midten centrum */    
}

.billede-2 img{ /*  Den her bruger man kun til at rette dirrkti på evt. billede man kan også style mere end her*/
    width: 430px; /* Bredten på billedet */
    height: 430px; /* Højden på illedet */
}

.tekstbox-2{
    width: 100%; /* Bredten på tekst boksen */
    height: 500px; /* Højden på tekst boksen */
    color: rgb(0, 0, 0); /* Farven på teksten i teks boksen */
    text-align: left;    /* teksten starter fra venstre*/
    align-content: center;  /* center verticalt (top til bund)*/
    margin-left: 25%; /* At teksteb begynder ud fra billedets kant fra billedet over og under - men virker kun på pc */
}

/* Her starter Hvordan flex skal opføere sig */

.container {
    display: flex; /* Gør det mere bevægelig */
    flex-direction: column; /* At boksene er lodret og ikke vandret */
}

@media (min-width: 768px){ /*Dette gør at hvis skærmen bliver større end 768px så ændre opsætningen sig på hjemmeside*/


/*felsterne inde i flexbox*/
.billede-1{
    background-color: rgb(255, 255, 255); /*bagundsfraven - som er hvid så man ikke kan se den med mindre man giver den en farve*/
    width: 50%; /*bredten på den usyndelige flex box kasse*/
    height: 500px; /*Højde på den usyndlige flex box kasse*/
}

.tekstbox-1{
    background-color: rgb(255, 255, 255); /*bagundsfraven - som er hvid så man ikke kan se den med mindre man giver den en farve*/
     width: 50%; /*bredten på den usyndelige flex box kasse*/
    height: 500px; /*Højde på den usyndlige flex box kasse*/
}

.billede-2{
    background-color: rgb(255, 255, 255); /*bagundsfraven - som er hvid så man ikke kan se den med mindre man giver den en farve*/
    width: 50%; /*bredten på den usyndelige flex box kasse*/
    height: 500px; /*Højde på den usyndlige flex box kasse*/
}

.tekstbox-2{
    background-color: rgb(255, 255, 255); /*bagundsfraven - som er hvid så man ikke kan se den med mindre man giver den en farve*/
    width: 50%; /*bredten på den usyndelige flex box kasse*/
    height: 500px; /*Højde på den usyndlige flex box kasse*/
}
/*felsterne inde i flexbox*/


.række-1{ /* Flex boksen hvor tekst er til venstre og billede/video til højer */
    display: flex; /* Gør det mere felxibel og bevæelig */
    flex-direction: row-reverse; /*Så den skifter mellem siderne - modsat af den anden*/

}

.række-2{ /* Flex boksen hvor teksten er til højer og billedet/video til venstre */
    display: flex; /* Letter at flytte rundt på tingene */
    flex-direction: row; /*Starter fra venstre side */
}
}

/*Så knapperne har en rød kasse bag sig i flexboksen */
.cta-knap {
  display: inline-block;
  background-color: #c31414;/* rød farve */
  color: white; /* hvid tekst */
  padding: 8px 50px; /* højde og bredde på knappen */
  border-radius: 10px; /* bløde kanter */
  font-size: 24px; /* tekststørrelse */
  font-weight: bold;
  text-decoration: none; /* fjerner understregning */
  text-align: center;
  margin-left: 0; /*så den røde kasse i bruden af call to ation knapperne er lige med overskiften til venstre med den mænge margin fra venstre side jeg har valgt*/
}
/*Så knapperne har en rød kasse bag sig i flexboksen */


/*Så knapperne hopper og ændre farve*/
.cta-knap:hover {
  background-color: #c31414;   /* mørkere rød */
  transform: scale(1.05);      /* lille zoom-effekt */
  transition: 0.1s; /*Hvor lang tid der skal gå før den skifter billede*/
}
/*Så knapperne hopper og ændre farve*/

/*SLUT FLEXBOX MIDTEN*/   



/*HER STARTER MIN FOOTER FLEX BOX*/
/* Footer container */
.site-footer{
  background:#c31414;          /* baggrundsfarve */
  color: #000000;               /* tekstfarve */
  padding: 28px 18px;        /* lodret og vandret padding */
  
}
/* Footer container */

/* Flex-row med 5 bokse */
.footer-row{
  display: flex;
  gap: 18px;                 /* afstand mellem boksene */
  justify-content: center;   /* centrerer hele rækken */
  align-items: stretch;      /* gør boksene samme højde */
  flex-wrap: wrap;           /* bryder til næste linje ved små skærme */
  max-width: 1200px;
  margin: 0 auto 18px;       /* centrerer og giver bundafstand */
}

/*Footer link*/
.footer-row a{
  color: #000000; /*Alle links i footeren er sorte*/
}


/* Flex-row med 5 bokse */

/* Hver box */
.footer-box{
  background:#ffffff; /* Brundsfraven er hvid */
  padding: 18px; /* Luft mellem elemtet og kanten uden om */
  border-radius: 8px; /* At der er bløde kanter */
  flex: 1 1 180px; /* fleksibel: vokser, kan krympe, basis 180px */
  min-width: 140px; /* mindste bredde før den bryder */
  box-sizing: border-box; /* Brede og højde i box strølsen */
  text-align: center; /* At teksten i knappen i footeren er i midsten */
  display: flex; /* Gør det mere flexibel og bevægelig */
  flex-direction: column; /* Boksne er lodrette og IKKE vandrette */
  justify-content: center; /* At alle elemter er i midten */
  gap: 8px; /* Mellemrum mellem elemterne i footeren */
}
/* Hver box */


/* Tekstvariationer – styling af små tekster i footer */
.footer-box small {  /* Vælger <small>-elementer inde i .footer-box */
  opacity: 0.85; /* Gør teksten lidt gennemsigtig / mindre fremtrædende */
  font-size: 0.95rem; /* Gør teksten en smule mindre end standard tekst */
}
/* Tekstvariationer – styling af små tekster i footer */

/* Footer bundlinje */
.footer-bottom{
  text-align: center; /* Gør at elemeterne er i mindten */
  border-top: 1px solid rgba(255,255,255,0.06); /* Definere udseendet af en elements øverste afgrænsning (f.eks. farve, tykkelse, stil) */
  padding-top: 12px; /* Afstanden i toppen af footeren */
  opacity: 0.9; /* Uigennemsigtighed tid på kanpperne */
  font-size: 0.9rem; /* Skriftstørrelse */
}
/* Footer bundlinje */

/* Hover / fokus effekt (hvis boksene er interaktive) */
.footer-box:hover, /* Gør at knapperne hopper når musen er over */
.footer-box:focus-within{
  transform: translateY(-4px);
  transition: transform 180ms ease; /* Overgangen når man har musen over knappen */
  background: rgba(255,255,255,0.07); /* Gør at den fater ud når man har musen på den */
}
/* Hover / fokus effekt (hvis boksene er interaktive) */

/* Små skærme: mindre padding og større wrap */
@media (max-width: 780px){
  .site-footer{ padding: 20px 12px; } /* Afstedn i top/bund og luft mellem elementerne */
  .footer-row{ gap: 12px; } /* Mellemrum mellen elementerne i footeren */
  .footer-box{ padding: 14px; flex-basis: 45%; } /* ca. 2 per række */


#navigation {
      display: flex; /* Gør det mere felxibel og bevæeligt */
      flex-direction: column; /*Når skærmen bliver mindre så flytter menuinjen sig fra venstre til lodret*/
      }

}
/* Små skærme: mindre padding og større wrap */

/*HER SLUTTER MIN FOOTER FLEX BOX*/


/**********************************************SLUT GÆLDER PÅ ALLE 5 SIDER*********************************************************/

/********************************************HER STARTER INDEKSIDEN LEA!!!!**********************************************************/


/*Min billede slide show i toppen*/
.slideshow {
  width: 100%; /* At hele slideshow fylder det hele fra margin til margin */
  height: 400px; /* Højde på billedserien */
  position: relative;
  overflow: hidden;
}

.slideshow img {
  width: 100%; /* At billederne fylder hele siden fra margin til margin vandret */
  height: 400px; /* Højden på billederne i slideshow*/
  object-fit: cover; /* Tilpasning af cover */
  position: absolute;
  top: 0; /* At billedet fylder helt ud til toppen */
  left: 0; /* At billedet fylder heæt ud til venstre side */
  opacity: 0; /* At den ikke falter ud i billederne */
  animation: fadeSlider 12s infinite; /* At billederne skifter blødt og naurligt */
}


/* Timing for hvert billede */
.slideshow img:nth-child(1) {
  animation-delay: 0s; /* At der ikke er noget forsinkelse på billederne */
}

.slideshow img:nth-child(2) {
  animation-delay: 4s; /* Forsinklse på billedet så den vises som nummer 2 */
}

.slideshow img:nth-child(3) {
  animation-delay: 8s; /* Forsinkelse på billedet så den vises som nummer 3 */
}
/* Timing for hvert billede */



/* Fade animation */
@keyframes fadeSlider {
  0%   { opacity: 0; } /* Starter at billedet er helt usyneligt */
  10%  { opacity: 1; } /* Fade ind, så billedet bliver syneligt */
  30%  { opacity: 1; } /* Bliver syndelig pause/holde */
  40%  { opacity: 0; } /* Fade ud, så billedet bliver usynligt */ 
  100% { opacity: 0; } /* Forbliver usynelig til at animationene starter forfra */
}
/* Fade animation */

/*SLUT Min billede slide show i toppen*/

/********************************************HER SLUTTER INDEKSIDEN LEA!!!!**********************************************************/
   
/********************************************HER STARTER KONTAKT!!!!**********************************************************/

/* Inputfleterne i kontakt fomularen */
input[type=text], select, textarea {
  width: 100%; /*At input fleterne fulder 100% */
  padding: 12px; /* Højden på mine inputflter*/
  border: 1px solid #000000; /* Linje rundt om mit inputflet */
  border-radius: 4px; /* Hvor bløde kanter min inputflter for */
  box-sizing: border-box; /* Sikker at padding og bredden forbliver på plads */
  margin-top: 6px; /* Hvor meget space der er i toppen før kontakt formularen */
  margin-bottom: 16px; /* Hvor meget space der er i bunden før kontakt formularen */
}

/* Giv send-knappen en specifik baggrundsfarve osv. */
input[type=submit] {
  background-color: #ffffff; /* Bagrundsfarven i inputfleterne */
  color: rgb(0, 0, 0); /* Farven på konten rundt omkring inputfleterne */
  padding: 12px 30px; /* Størlsen i høje og bredte på send knappen */
  border: none; /* Ingen farve rundt i kanten af knappen, ligesom på de andre */
  border-radius: 4px; /* Hvor bløde kanter send knappen skal have */
}

/* Tilføj en baggrundsfarve og lidt margen omkring formularen */
.kontakt {
  border-radius: 0px;/* Om min kontakt fomular box for bløde eller spidse kanter*/
  background-color: #c31414; /* Barundsfraven på hele kontakt formular boxsen*/
  padding: 25px; /* Hvor meget space der er rundt om alle inputfleterne ud til kontaktboksen slutter inde i kontakt boksen*/
  max-width: 500px; /* Hvor bred hele kontakt formular boksen skal være fra margin til margin */
  margin: 40px auto; /* Hvor meget space der er fra min overskirft ned til kontakt fomular bokse strater og auto at den er i midten*/
}


/********************************************HER SLUTTER KONTAKT!!!!**********************************************************/